<plugin name='wfp' version='0.7.0' grailsVersion='1.3.5 &gt; *'>
  <author>Joost Horward</author>
  <title>Workflow4people/workflow engine</title>
  <description>\
Brief description of the plugin.
</description>
  <documentation>http://www.workflow4people.org</documentation>
  <resources>
    <resource>BootStrap</resource>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>Searchable</resource>
    <resource>UrlMappings</resource>
    <resource>spring.resources</resource>
    <resource>org.workflow4people.ActionController</resource>
    <resource>org.workflow4people.ApplicationConfigurationController</resource>
    <resource>org.workflow4people.AuthorityController</resource>
    <resource>org.workflow4people.BaseTypeController</resource>
    <resource>org.workflow4people.ConvertController</resource>
    <resource>org.workflow4people.DataModelEditorController</resource>
    <resource>org.workflow4people.DayPartController</resource>
    <resource>org.workflow4people.DocumentController</resource>
    <resource>org.workflow4people.DocumentIndexController</resource>
    <resource>org.workflow4people.DocumentIndexFieldController</resource>
    <resource>org.workflow4people.DocumentTypeController</resource>
    <resource>org.workflow4people.ErrorController</resource>
    <resource>org.workflow4people.FeatureController</resource>
    <resource>org.workflow4people.FeaturePermissionController</resource>
    <resource>org.workflow4people.FieldController</resource>
    <resource>org.workflow4people.FieldListController</resource>
    <resource>org.workflow4people.FieldTypeController</resource>
    <resource>org.workflow4people.FieldTypeItemController</resource>
    <resource>org.workflow4people.FormController</resource>
    <resource>org.workflow4people.FormItemController</resource>
    <resource>org.workflow4people.FormPermissionController</resource>
    <resource>org.workflow4people.HolidayController</resource>
    <resource>org.workflow4people.IndexController</resource>
    <resource>org.workflow4people.LoginController</resource>
    <resource>org.workflow4people.LogoutController</resource>
    <resource>org.workflow4people.MinerQueryController</resource>
    <resource>org.workflow4people.NamespaceController</resource>
    <resource>org.workflow4people.PersonController</resource>
    <resource>org.workflow4people.RequestmapController</resource>
    <resource>org.workflow4people.RoleController</resource>
    <resource>org.workflow4people.SearchController</resource>
    <resource>org.workflow4people.StatusController</resource>
    <resource>org.workflow4people.TaskController</resource>
    <resource>org.workflow4people.TaskStatusController</resource>
    <resource>org.workflow4people.Wf4pHistoryProcessInstanceController</resource>
    <resource>org.workflow4people.Wf4pHistoryTaskController</resource>
    <resource>org.workflow4people.Wf4pProcessDefinitionController</resource>
    <resource>org.workflow4people.Wf4pProcessInstanceController</resource>
    <resource>org.workflow4people.Wf4pTaskController</resource>
    <resource>org.workflow4people.Wf4pVariableController</resource>
    <resource>org.workflow4people.WorkflowController</resource>
    <resource>org.workflow4people.WorkflowDefinitionController</resource>
    <resource>org.workflow4people.WorkflowEngineController</resource>
    <resource>org.workflow4people.WorkflowLogController</resource>
    <resource>org.workflow4people.WorkflowPermissionController</resource>
    <resource>org.workflow4people.WorkflowWizardController</resource>
    <resource>org.workflow4people.Action</resource>
    <resource>org.workflow4people.ApplicationConfiguration</resource>
    <resource>org.workflow4people.Authority</resource>
    <resource>org.workflow4people.BaseType</resource>
    <resource>org.workflow4people.DayPart</resource>
    <resource>org.workflow4people.Document</resource>
    <resource>org.workflow4people.DocumentIndex</resource>
    <resource>org.workflow4people.DocumentIndexField</resource>
    <resource>org.workflow4people.DocumentType</resource>
    <resource>org.workflow4people.Feature</resource>
    <resource>org.workflow4people.FeaturePermission</resource>
    <resource>org.workflow4people.Field</resource>
    <resource>org.workflow4people.FieldList</resource>
    <resource>org.workflow4people.FieldType</resource>
    <resource>org.workflow4people.FieldTypeItem</resource>
    <resource>org.workflow4people.Form</resource>
    <resource>org.workflow4people.FormItem</resource>
    <resource>org.workflow4people.FormPermission</resource>
    <resource>org.workflow4people.Holiday</resource>
    <resource>org.workflow4people.MinerQuery</resource>
    <resource>org.workflow4people.Namespace</resource>
    <resource>org.workflow4people.Person</resource>
    <resource>org.workflow4people.Requestmap</resource>
    <resource>org.workflow4people.Role</resource>
    <resource>org.workflow4people.Task</resource>
    <resource>org.workflow4people.TaskStatus</resource>
    <resource>org.workflow4people.Workflow</resource>
    <resource>org.workflow4people.WorkflowDefinition</resource>
    <resource>org.workflow4people.WorkflowEngine</resource>
    <resource>org.workflow4people.WorkflowLog</resource>
    <resource>org.workflow4people.WorkflowPermission</resource>
    <resource>WorkflowServiceEndpoint</resource>
    <resource>org.workflow4people.services.AssignTaskEndpoint</resource>
    <resource>org.workflow4people.services.AuthenticateEndpoint</resource>
    <resource>org.workflow4people.services.CompleteTaskEndpoint</resource>
    <resource>org.workflow4people.services.DocumentQueryEndpoint</resource>
    <resource>org.workflow4people.services.FindTasksEndpoint</resource>
    <resource>org.workflow4people.services.FindUserGroupsEndpoint</resource>
    <resource>org.workflow4people.services.FindUsersEndpoint</resource>
    <resource>org.workflow4people.services.GetDocumentEndpoint</resource>
    <resource>org.workflow4people.services.GetDocumentIndexFieldsEndpoint</resource>
    <resource>org.workflow4people.services.GetDocumentTypesEndpoint</resource>
    <resource>org.workflow4people.services.GetFeaturesEndpoint</resource>
    <resource>org.workflow4people.services.GetMinerParametersEndpoint</resource>
    <resource>org.workflow4people.services.GetRequestFormsEndpoint</resource>
    <resource>org.workflow4people.services.GetTaskEndpoint</resource>
    <resource>org.workflow4people.services.GetTaskStatusesEndpoint</resource>
    <resource>org.workflow4people.services.GetUserDetailsEndpoint</resource>
    <resource>org.workflow4people.services.GetWorkflowDefinitionsEndpoint</resource>
    <resource>org.workflow4people.services.HasAccessToFormEndpoint</resource>
    <resource>org.workflow4people.services.MinerDrilldownEndpoint</resource>
    <resource>org.workflow4people.services.MinerQueryEndpoint</resource>
    <resource>org.workflow4people.services.SendEmailEndpoint</resource>
    <resource>org.workflow4people.services.StartProcessInstanceEndpoint</resource>
    <resource>org.workflow4people.services.StoreDocumentEndpoint</resource>
    <resource>org.workflow4people.services.TakeTaskEndpoint</resource>
    <resource>org.workflow4people.services.TaskQueryEndpoint</resource>
    <resource>org.workflow4people.services.BusinessCalendarService</resource>
    <resource>org.workflow4people.services.DialogService</resource>
    <resource>org.workflow4people.services.DmeEventService</resource>
    <resource>org.workflow4people.services.DmeService</resource>
    <resource>org.workflow4people.services.DocumentService</resource>
    <resource>org.workflow4people.services.EchoService</resource>
    <resource>org.workflow4people.services.EmailService</resource>
    <resource>org.workflow4people.services.FormGeneratorService</resource>
    <resource>org.workflow4people.services.FormService</resource>
    <resource>org.workflow4people.services.Jbpm4Service</resource>
    <resource>org.workflow4people.services.ListService</resource>
    <resource>org.workflow4people.services.MinerService</resource>
    <resource>org.workflow4people.services.SecurityService</resource>
    <resource>org.workflow4people.services.SetDueDateService</resource>
    <resource>org.workflow4people.services.SoapService</resource>
    <resource>org.workflow4people.services.TemplateService</resource>
    <resource>org.workflow4people.services.Wf4pConfigService</resource>
    <resource>org.workflow4people.services.WorkflowDefinitionService</resource>
    <resource>org.workflow4people.services.WorkflowService</resource>
    <resource>org.workflow4people.FormTagLib</resource>
    <resource>org.workflow4people.MailTagLib</resource>
    <resource>org.workflow4people.WformTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>