

/* TREE LAYOUT */ 
x.tree ul { margin:0 0 0 5px; padding:0 0 0 0; list-style-type:none; }
x.tree li { display:block; min-height:18px; line-height:18px; padding:0 0 0 15px; margin:0 0 0 0; /* Background fix */ clear:both; }
x.tree li ul { display:none; }
x.tree li a, .tree li span { display:inline-block;line-height:16px;height:16px;color:black;white-space:nowrap;text-decoration:none;xpadding:1px 4px 1px 4px;margin:0; }
x.tree li a:focus { outline: none; }
x.tree li a input, .tree li span input { margin:0;padding:0 0;display:inline-block;height:12px !important;border:1px solid white;background:white;font-size:10px;font-family:Verdana; }
x.tree li a input:not([class="xxx"]), .tree li span input:not([class="xxx"]) { padding:1px 0; }
/* FOR DOTS */ 
x.tree .ltr li.last { float:left; }
x.tree > ul li.last { overflow:visible; }
/* OPEN OR CLOSE */ 
x.tree li.open ul { display:block; }
x.tree li.closed ul { display:none !important; }



/* FOR DRAGGING */ #jstree-dragged { position:absolute; top:-10px; left:-10px; margin:0; padding:0; }
#jstree-dragged ul ul ul { display:none; }
#jstree-marker { padding:0; margin:0; line-height:5px; font-size:1px; overflow:hidden; height:5px; position:absolute; left:-45px; top:-30px; z-index:1000; background-color:transparent; background-repeat:no-repeat; display:none; }
#jstree-marker.marker { width:45px; background-position:-32px top; }
#jstree-marker.marker_plus { width:5px; background-position:right top; }
/* BACKGROUND DOTS */ 
.tree li li { overflow:hidden; }
.tree > .ltr > li { display:table; }
/* ICONS */ 
.tree ul ins { display:inline-block; text-decoration:none; width:16px; height:16px; }
.tree .ltr ins { margin:0 4px 0 0px; }               
.field a { font-weight: normal; }
.file a { font-weight: normal; }

//a.application-activemessage-16 { background-image: url("../theme/icons/mimetypes/16/document.png" ) ;}

li.field > a > ins { background-image: url("../theme//icons/emblems/16/emblem-documents.png" ) ; background-position: 0px 0px !important; }
li.fieldtype-FieldList > a > ins { background-image: url("../theme/icons/places/16/folder-documents.png" );  background-position: 0px 0px !important; }
li.fieldtype-RepeatingFieldList > a > ins { background-image: url("../theme/icons/places/16/folder-remote.png" );  background-position: 0px 0px !important; }

li.workflow > a > ins { background-image: url("../theme/icons/mimetypes/16/gnome-mime-text-x-python.png" );  background-position: 0px 0px !important; }
li.form > a > ins { background-image: url("../theme/icons/mimetypes/16/application-rtf.png" );  background-position: 0px 0px !important; }
li.formitem > a > ins { background-image: url("../theme/icons/emblems/16/emblem-documents.png" ) ; background-position: 0px 0px !important; }
li.formpage > a > ins { background-image: url("../theme/images/dme/page.png" ) ; background-position: 0px 0px !important; }
li.formsection > a > ins { background-image: url("../theme/images/dme/section.png" ) ; background-position: 0px 0px !important; }

li.fieldlist > a > ins { background-image: url("../theme/icons/places/16/folder.png" );  background-position: 0px 0px !important; }
li.fieldtype > a > ins { background-image: url("../theme/icons/mimetypes/16/gnome-mime-application-vnd.sun.xml.calc.png" );  background-position: 0px 0px !important; }




.tree-toolbar {margin-top:3px;}
.action-new-workflowdefinition {background-image:url("../theme/icons/actions/16/document-new.png"); display:block;}
.action-new-fieldlist {background-image:url("../theme/icons/actions/16/document-new.png"); display:block;}
.action-new-fieldtype {background-image:url("../theme/icons/actions/16/document-new.png"); display:block;}

#ajaxdialogform table {border:none;}

